* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background: #a76fdc;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo-img {
  width: 30px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  margin-right: 5px;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  position: relative;
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #4c7db9;
}

.dropdown-content {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #da9ff2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content a {
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  border-radius: 0;
}

.dropdown-content a:hover {
  background-color: #507ab5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero {
  background: url("bank..png") no-repeat center center/cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.cta-button {
  background: #ff6f61;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s;
}
.apply {
  background: #e77244;
  color: #000000;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
  text-emphasis-color: black;
}

.cta-button:hover {
  background: #ff5a4f;
}

.features {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.feature {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature h2 {
  margin-bottom: 1rem;
  color: #a06fbd;
}

footer {
  background: #90757d;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
